<% set_meta_tags title: 'CMS — Reset Password' %>

<div class='signin-modal'>
  <h2>Forgot your password?</h2>
  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <label for='admin_email' class='form-input input-required input-string'>
      <div class='label'>Email</div>
      <%= f.email_field :email, autofocus: true, tabindex: 1 %>
    </label>

    <%= devise_error_messages! %>

    <%= f.submit "Reset password", tabindex: 2 %>
    <%= link_to 'Sign In', new_session_path(resource_name) %>
  <% end %>
</div>
